main {
    flex: 1 0 auto;
}



.main-layout {
    padding-left: 300px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@media only screen and (min-width : 769px) {
    .side-icon{
        display: none;
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer, .main-layout {
    padding-left: 0;    
    }    
}